body {
    font-family: Arial, sans-serif;
    display: flex;
}

h1 {
    height: 75px;
    padding: 15px;
}

.row {
    border-radius: 10px;
    padding: 20px;
}

h3 {
    margin-left: 20px;
}

#fiveDays {
    margin-left: 15px;
}

#cityInput {
    padding: 10px 20px;
}

#searchButton {
    font-size: 18px;
    margin-top: 20px;
}

/* Change color of 'Search' button when hoovering mouse over */
#searchButton:hover {
    background-color: navy;
}